In [1]:
import pandas as pd
import psycopg2
import config

In [2]:
conn = psycopg2.connect(**config.connection_config)
cur = conn.cursor()

In [3]:
query = """

CREATE TABLE areas(
code character varying,
name text
);

"""

cur.execute(query)
conn.commit()

In [4]:
query = """

INSERT INTO areas (code, name) VALUES
 ('00', '全国'),
 ('10', '北海道'),
 ('20', '東北'),
 ('30', '関東'),
 ('40', '中部'),
 ('50', '近畿'),
 ('60', '中国'),
 ('70', '四国'),
 ('80', '九州') ;

"""

cur.execute(query)
conn.commit()

In [5]:
query ="""

SELECT * FROM  areas;

"""

pd.read_sql(query, con=conn)

  code name
0   00   全国
1   10  北海道
2   20   東北
3   30   関東
4   40   中部
5   50   近畿
6   60   中国
7   70   四国
8   80   九州

### 参考文献

・[PandasのDataFrameでPostgreSQLに読み書きする方法](https://tanuhack.com/pandas-postgres-readto/)<br>
・[PostgreSQLのデータをpandasに読み込んでみる](https://tanuhack.com/pandas-postgres-readto/)<br>
・[importで別ファイルの変数を取得](https://qiita.com/sky11fur/items/d0b6bb94790351142adb)<br>
・[PostgreSQLをPythonからpsycopg2を使って操作する](https://tdoc.info/blog/2012/12/05/psycopg2.html)