## Library

In [1]:
import config
import pandas as pd
from sqlalchemy import create_engine, text

In [2]:
engine = create_engine('postgresql+psycopg2://{user}:{password}@{host}:{port}/{database}'.format(**config.connection_config))
connection = engine.connect()

## Data

In [3]:
query ="""

SELECT
  *
FROM
  customer_tb
LIMIT
  5

"""

pd.read_sql(query, con=engine)

  customer_id  age    sex  home_latitude  home_longitude
0         c_1   41    man      35.092193      136.512347
1         c_2   38    man      35.325076      139.410551
2         c_3   49  woman      35.120543      136.511179
3         c_4   43    man      43.034868      141.240314
4         c_5   31    man      35.102661      136.523797

## Select

In [4]:
query ="""

SELECT
  customer_id,
  CAST(FLOOR(RANDOM() * 100) AS INT) AS batch_id
FROM
  customer_tb
LIMIT
  5

"""

pd.read_sql(query, con=engine)

  customer_id  batch_id
0         c_1        97
1         c_2        50
2         c_3        93
3         c_4        54
4         c_5        47